@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  // :root {
  //   // colors
  //   --white: 0, 0%, 100%;
  //   --very-dark-cyan: 183, 100%, 15%;
  //   --dark-grayish-cyan: 186, 14%, 43%;
  //   --dark-grayish-cyan: 184, 14%, 56%;
  //   --light-grayish-cyan: 185, 41%, 84%;
  //   --light-grayish-cyan: 189, 41%, 97%;
  // }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  //make default form look nice
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="text-field"],
  [multiple],
  textarea,
  select {
    @apply font-black text-cyan-900 w-full border-2 border-transparent bg-cyan-400  rounded-lg shadow-sm focus:border-cyan-800;
  }
}

@layer components {
  .btn {
    @apply py-3 rounded-md duration-500 disabled:opacity-50 hover:brightness-110;
  }

  .btn-primary {
    @apply bg-cyan-800 text-cyan-900 tracking-wide font-black;
  }
}

input.ng-invalid.ng-dirty {
  border: 2px solid red;
}
